# 컬렉션

- 여러 값을 하나의 이름으로 묶어서 관리하는 자료형

| 컬렉션 | 생성 함수 | 특징 | 예시 |
| :-- | :-- | :-- | :-- |
| 리스트 | list() | 추가, 수정, 삭제가 언제나 가능 | a = [1, 2, 3] |
| 튜플 | tuple() | 생성되고 나면 변경 불가능 | a = (1, 2, 3) |
| 세트 | set() | 중복된 값의 저장 불가능 | a = {1, 2, 3} |
| 딕셔너리 | dict() | 키 + 값 으로 관리 | a = {"age" : 25} |

In [2]:
li = [1, 2, 3, 4, 5] # 리스트
se = {1, 2, 3, 3, 4} # 세트
tu = (2, 2, 3, 4, 5) # 튜플
dic = {"aaa" : 1, "bbb" : 2, "ccc" : 3} # 딕셔너리

print(li)
print(type(li))

print(se)
print(type(se))

print(tu)
print(type(tu))

print(dic)
print(type(dic))

[1, 2, 3, 4, 5]
<class 'list'>
{1, 2, 3, 4}
<class 'set'>
(2, 2, 3, 4, 5)
<class 'tuple'>
{'aaa': 1, 'bbb': 2, 'ccc': 3}
<class 'dict'>

# 리스트(list)

- 여러 가지 자료를 저장할 수 있는 자료
    - 지금까지 활용한 숫자나 문자, 수식 등이 개별적인 자료라면, 리스트는 이런 자료들을 모아서 사용할 수 있게 해주는 특별한 형태의 자료
 
- 리스트 생성하는 법 : 대괄호에 자료를 쉼표로 구분해서 입력
    - [요소, 요소, 요소......]
    - 대괄호 내부에 넣는 자료를 요소(element)라고 함

In [3]:
# 숫자만으로 구성된 리스트
list_num = [1, 2, 3, 4]

# 문자열만으로 구성된 리스트
list_str = ["a", "b", "c"]

# 여러 자료형으로 구성된 리스트
list_mix = [273, 32, 103, "문자열", True, False]

In [5]:
# 인덱싱, 슬라이싱
print(li[0])

1

In [6]:
print(li[-1])

5

In [7]:
# 이중리스트
li = [1, 2, 3, ["a", "b", "c"]]

In [8]:
print(li[-1])

['a', 'b', 'c']

In [10]:
print(li[-1][0])

a

In [11]:
print(li[:3])

[1, 2, 3]

## 리스트 연산

- 문자열에 적용할 수 있는 연산자는 리스트에도 활용할 수 있음

In [12]:
# 리스트 병합
a = [1, 2, 3]
b = [4, 5, 6]

print(a + b)

[1, 2, 3, 4, 5, 6]

In [13]:
# 리스트 반복
print(a * 2)

[1, 2, 3, 1, 2, 3]

## 리스트 요소 추가, 수정, 삭제

In [14]:
li

[1, 2, 3, ['a', 'b', 'c']]

In [15]:
# 요소를 인덱스로 삭제
del li[-1] # 슬라이싱도 사용 가능

In [16]:
print(li)

[1, 2, 3]

In [17]:
# 수정
li[2] = 4

In [18]:
print(li)

[1, 2, 4]

In [19]:
# remove 함수를 이용한 삭제
li.remove(4)

In [20]:
print(li)

[1, 2]

In [21]:
# remove 함수는 리스트에서 첫 번째로 나오는 특정 요소를 삭제하는 함수
li = [1, 2, 3, 1, 2, 3]

li.remove(3)

print(li)

[1, 2, 1, 2, 3]

In [22]:
# pop 함수를 이용한 삭제
# 제거할 위치를 입력하지 않으면 기본값(-1)을 적용해서 리스트의 맨 마지막 요소를 반환하고 해당 요소를 삭제
li = [1, 2, 3]

print(li.pop())

3

In [23]:
print(li)

[1, 2]

In [25]:
# 특정 인덱스의 요소를 반환하는 것도 가능
li = [1, 2, 3]

print(li.pop(1))

print(li)

2
[1, 3]

In [26]:
# 요소 추가
# 리스트 뒤에 요소를 추가
li.append(5)

In [27]:
print(li)

[1, 3, 5]

In [28]:
li.append([1, 2, 3])

In [29]:
print(li)

[1, 3, 5, [1, 2, 3]]

In [30]:
# 요소 삽입
# 괄호 안에서 정한 위치에 요소를 삽입
# 해당 위치의 요소는 뒤로 하나씩 밀림
li = [1, 2, 3]

li.insert(0, 4)

print(li)

[4, 1, 2, 3]

In [32]:
# 리스트 확장
# 리스트 뒤에 새로운 리스트의 요소를 모두 추가
# 한 번에 여러 요소를 추가하고 싶을 때 사용
li.extend([4, 5])

print(li)

[4, 1, 2, 3, 4, 5]

## 리스트 관련 함수

In [33]:
# 리스트 오름차순 정렬
li = [1, 4, 3, 2]

li.sort()

print(li)

[1, 2, 3, 4]

In [34]:
# 내림차순 정렬
li.sort(reverse = True)

print(li)

[4, 3, 2, 1]

In [35]:
# 리스트 뒤집기
li = ["a", "c", "b", "d"]

li.reverse()

print(li)

['d', 'b', 'c', 'a']

In [36]:
print(li[::-1])

['a', 'c', 'b', 'd']

In [37]:
# 리스트의 길이 구하기
print(len(li))

4

# 튜플

- 리스트와 유사하지만 튜플은 값의 추가, 삭제, 수정이 불가
    - 프로그램이 실행되는 동안 값이 변하면 안되는 경우 주로 사용

In [38]:
tu

(2, 2, 3, 4, 5)

In [39]:
del tu[0]

TypeError: 'tuple' object doesn't support item deletion

In [40]:
tu[0] = 0

TypeError: 'tuple' object does not support item assignment

In [41]:
# 인덱싱, 슬라이싱
tu[0]

2

In [42]:
tu[1:]

(2, 3, 4, 5)

In [43]:
# 튜플 연산
tu1 = (1, 2)
tu2 = (3, 4)

print(tu1 + tu2)

(1, 2, 3, 4)

In [45]:
print(tu1 * 2)

(1, 2, 1, 2)

# 딕셔너리

- 자료의 대응 관계를 나타내는 자료형
    - 연관 배열(Associative array) 또는 해시(Hash)
 
- 데이터를 조회할 때 key를 통해 value를 구함

- 딕셔너리 선언
    - 중괄호{} 로 선언
 
    - 키 : 값 의 형태를 콤마(,)로 연결해서 만듦
        - 키는 문자열, 숫자, 불 등으로 선언할 수 있지만 일반적으로는 문자열을 주로 사용

In [46]:
dic = {"a" : [1, 2, 3]}

print(dic)

{'a': [1, 2, 3]}

- 딕셔너리 요소 추가, 수정, 삭제

In [48]:
# 키를 기반으로 값을 입력
dic["name"] = "andy"

In [49]:
print(dic)

{'a': [1, 2, 3], 'name': 'andy'}

In [50]:
dic["name"] = "파인애플"

print(dic)

{'a': [1, 2, 3], 'name': '파인애플'}

In [51]:
del dic["name"]

In [52]:
print(dic)

{'a': [1, 2, 3]}

- 딕셔너리 데이터 추출

In [54]:
score = {"kim" : 10, "lee" : 99}

print(score["kim"])
print(score["lee"])

10
99

# 세트

- 중복을 허용하지 않음
- 순서가 없음

In [55]:
set1 = set("Hello")

print(set1)

{'H', 'o', 'e', 'l'}

- 교집합, 합집합, 차집합

In [56]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 7, 8, 9}

In [57]:
# 교집합
set1 & set2

{4, 5, 6}

In [58]:
# 합집합
set1 | set2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [59]:
# 차집합
set1 - set2

{1, 2, 3}

In [60]:
set2 - set1

{7, 8, 9}